.all-projects-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	padding-top: 30px;
	padding-bottom: 30px;
	
}

.all-projects-project {
	width: calc(100% / 3);
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
}

@media (max-width: 600px) {
	.all-projects-project {
		width: calc(100% / 2);
		overflow: hidden;
	}
}
@media (max-width: 480px) {
	.all-projects-project {
		width: calc(90% / 1);
		overflow: hidden;
	}
}
